.container{
    margin-top: 40px;
}

body{
    background-color: #EFEFEF;
    font-family: 'EB Garamond', serif;
    font-size: medium;
}

#dp{
    width: 100%;
}

.s2 > i{
    padding-top: 10px;
    padding-left: 10px;
}

.divider+p, .pad{
    padding-top: 20px;
}

.divider{
    margin-top: 20px;
}

.card-title{
    padding-top: 50px;
}
.card-title+p{
    padding-top: 15px;
}

.progress{
    overflow: visible;
}
.progress .determinate{
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
}

.progress .determinate .fa{
    font-size: 10;
    position: absolute;
    top: -6px;
    right: 0px;
    margin-left: 50%;
}

#Prof{
    font-size: 25px;
    padding-bottom: 20px;
}

.designation{
    font-size: 12px;
}

#profile{
    background-color: rgba(0,0,0,0.5);
    background-size: contain;
    width: 100%;
}
