.container{
    margin-top: 40px;
}

body{
    background-color: #EFEFEF;
    font-family: 'EB Garamond', serif;
    font-size: medium;
}

#dp{
    -webkit-filter: brightness(75%);
    filter: brightness(80%);
    width: 100%;
}

.s2 > i{
    padding-top: 10px;
    padding-left: 10px;
}

.divider+p, .pad{
    padding-top: 20px;
}

.divider{
    margin-top: 20px;
}

.card-title+p{
    padding-top: 20px;
}
